<h2>epic.FANTASY</h2>

<%= link_to "Edit your profile", edit_user_registration(:user) %>
<%= link_to "Sign in", new_session_path(:user) %><br />
<%= link_to "Sign up", new_registration_path(:user) %><br />
<%= link_to "Forgot your password?", new_password_path(:user) %><br />

